.card-container {
  margin-left: -10rem;
}

.text-container {
  margin-top: 2rem;
}

h3 {
  font-size: 3rem;
  margin-left: -1rem;
}

@media (min-width: 768px) {
  h3 {
    font-size: 3.5rem;
    margin-left: 0;
  }
}

a {
  display: block;
  margin-left: -1.3rem;
}
